{% load tables %}
<div id="{{ table.html_id }}" class="{{ table.css_class }}" style="margin-bottom: 0;" data-ordering="{{ table.ordering_column_index }}" data-ordering-ascending="{{ table.ordering_ascending }}">
	<div role="grid" id="" class="dataTables_wrapper form-inline no-footer">
		<div class="table-header clearfix">
			<div class="table-caption">{{ table.title }}</div>
			<div class="DT-lf-right">
				<div class="DT-per-page tables-DT-per-page">
					<div class="dataTables_length" id="">
						<label>Na stronie:
							<select name="table_size" aria-controls="experts" class="form-control input-sm">
								{% for v in table.on_page_options %}
									<option value="{{ v }}" {% if table.on_page == v %}selected{% endif %}>{{ v }}</option>
								{% endfor %}
							</select>
						</label>
					</div>
				</div>
				{% if table.has_filter_function %}
					<div class="DT-search">
						<div id="" class="dataTables_filter">
							<label>
								<input name="search" type="search" class="form-control input-sm" aria-controls="experts" placeholder="Szukaj..." {% if table.query %}value="{{ table.query }}"{% endif %}>
							</label>
						</div>
					</div>
				{% endif %}
				{% if table.dropdown_filters %}
					<span style="margin-right: 10px;">
						<button class="btn btn-default btn-labeled open" id="{{ table.html_id }}-filter-btn">
							<span class="btn-label fa {% if table.dropdown_filters_values %}fa-times{% else %}fa-eye{% endif %}" style="width: 30px;"></span>
							Filtry
						</button>
					</span>
				{% endif %}
			</div>
			{% if table.dropdown_filters %}
				<div class="table-header-filters" id="{{ table.html_id }}-filter" {% if not table.dropdown_filters_values %}style="display: none;"{% endif %}>
					{% for title, name, values in table.dropdown_filters %}
						<span class="pull-right" style="margin-right: 10px;">
							{{ title }}:&nbsp;<select class="form-control input-sm table-filter-select" name="{{ name }}">
								<option value="">-----</option>
								{% for value, value_title in values %}
									<option value="{{ value }}" {{ name|has_selected:value|in_table:table }}>
										{{ value_title }}
									</option>
								{% endfor %}
							</select>
						</span>
					{% endfor %}
				</div>
				<script>
					$('#{{ table.html_id }}-filter-btn').click(function () {
						var f = $('#{{ table.html_id }}-filter')
						f.slideToggle();
						var $this = $(this);
						$this.children().first().toggleClass('fa-eye');
						$this.children().first().toggleClass('fa-times');
						$this.toggleClass('open');
					});
				</script>
			{% endif %}
		</div>
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer" aria-describedby="experts_info">
			<thead>
				<tr role="row">
					{% for title, ordering, min_width in table.columns%}
						<th class="
							{% if ordering != None %}
								sorting sorting{% endif %}{% if forloop.counter0 == table.ordering_column_index %}{% if table.ordering_ascending %}_asc{% else %}_desc{% endif %}
							{% endif %}"
							tabindex="0"
							style="vertical-align: top; min-width: {{ min_width }};"
							data-ordering="{{ forloop.counter0 }}"
							data-ordering-ascending="{% if forloop.counter0 == table.ordering_column_index %}{{ table.ordering_ascending }}{% endif %}"
							aria-controls="tabela" rowspan="1" colspan="1" aria-label="{{ title }}: aktywuj zeby posortowac">
							{{ title }}
						</th> {# sorting_asc sorting_desc #}
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{{ table.rows }}
			</tbody>
		</table>
		<div class="table-footer clearfix">
			<div class="DT-label">
				<div class="dataTables_info" id="" role="alert" aria-live="polite" aria-relevant="all">
					Wyniki od {{ table.page_data.start_index }} do {{ table.page_data.end_index }} z {{ table.paginator.count }}
				</div>
			</div>
			<div class="DT-pagination">
				<div class="dataTables_paginate paging_simple_numbers" id="">
					<ul class="pagination">
						<li class="paginate_button previous {% if not table.page_data.has_previous %}disabled{% endif %}" aria-controls="experts" tabindex="0" id="">
							<a {% if table.page_data.has_previous %} href="" class="page-select-btn" data-page-index="{{ table.page_data.previous_page_number }}{% endif %}">Poprzednia</a>
						</li>
						{% for index in table.paginator.pagerange %}
						<li class="paginate_button {% if table.page == index %}active{% endif %} {% if index == '...' %}disabled{% endif %}" tabindex="0">
							<a href="#" class="page-select-btn" data-page-index="{{ index }}" {% if index == '...' %}disabled{% endif %}>{{ index }}</a>
						</li>
						{% endfor %}
						<li class="paginate_button next {% if not table.page_data.has_next %}disabled{% endif %}" aria-controls="experts" tabindex="0" id="">
							<a {% if table.page_data.has_next %} href="" class="page-select-btn" data-page-index="{{ table.page_data.next_page_number }}"{% endif %}>Następna</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>